<section class="main_section">
  <div class="burger_menu hide">
    <ul class="burger_menu_list">
      <li class="burger_menu_item">
        <a href="#" class="burger-menu-link">Overview</a>
        <a href="#"
          ><img
            src="../imgs/burger_menu_vector.svg"
            alt=""
            id="overview_vector" /><img
            src="../imgs/overview_active_vector.png"
            alt=""
            class="hide"
            id="overview_active_vector"
        /></a>
      </li>
      <ul class="overview_list hide">
        <li><a href="#"> Asynchronous providers</a></li>
        <li><a href="#"> Installation</a></li>
        <li><a href="#">Alternatives</a></li>
        <li><a href="#"> Support us</a></li>
      </ul>

      <li class="burger_menu_item">
        <a href="#" class="burger-menu-link">Fundamentals</a>
        <a href="#"><img src="../imgs/burger_menu_vector.svg" alt="" /></a>
      </li>

      <li class="burger_menu_item">
        <a href="#" class="burger-menu-link">Techniques</a>
        <a href="#"><img src="../imgs/burger_menu_vector.svg" alt="" /></a>
      </li>

      <li class="burger_menu_item">
        <a href="#" class="burger-menu-link">SECURITY</a>
        <a href="#"><img src="../imgs/burger_menu_vector.svg" alt="" /></a>
      </li>
    </ul>
  </div>
  <div id="blog" class="section_wrapper">
    <div class="section_content">
      <div class="section_content_title">
        <h2>Overview</h2>
        <button><img src="../imgs/section-vector.svg" alt="" /></button>
      </div>
      <div class="section_content_desc">
        <p>
          Nest (NestJS) is a framework for building efficient, scalable Node.js
          server-side applications. It uses progressive JavaScript, is built
          with and fully supports TypeScript (yet still enables developers to
          code in pure JavaScript) and combines elements of OOP (Object Oriented
          Programming), FP (Functional Programming), and FRP (Functional
          Reactive Programming).
        </p>
        <p class="section_content_text">
          Under the hood, Nest makes use of robust HTTP Server frameworks like
          Express (the default) and optionally can be configured to use Fastify
          as well!
        </p>
        <p>
          Nest provides a level of abstraction above these common Node.js
          frameworks (Express/Fastify), but also exposes their APIs directly to
          the developer. This gives developers the freedom to use the myriad of
          third-party modules which are available for the underlying platform.
        </p>
      </div>
    </div>
    <div class="section_content">
      <div class="section_content_title">
        <h2>Asynchronous providers</h2>
        <button><img src="../imgs/section-vector.svg" alt="" /></button>
      </div>
      <div class="section_content_desc">
        <p class="section_content_text">
          Nest (NestJS) is a framework for building efficient, scalable Node.js
          server-side applications. It uses progressive JavaScript, is built
          with and fully supports TypeScript (yet still enables developers to
          code in pure JavaScript) and combines elements of OOP (Object Oriented
          Programming), FP (Functional Programming), and FRP (Functional
          Reactive Programming).
        </p>
        <p class="section_content_text">
          Under the hood, Nest makes use of robust HTTP Server frameworks like
          Express (the default) and optionally can be configured to use Fastify
          as well!
        </p>
        <p>
          Nest provides a level of abstraction above these common Node.js
          frameworks (Express/Fastify), but also exposes their APIs directly to
          the developer. This gives developers the freedom to use the myriad of
          third-party modules which are available for the underlying platform.
        </p>
      </div>
    </div>
    <div class="section_content">
      <div class="section_content_title">
        <h2>Installation</h2>
        <button><img src="../imgs/section-vector.svg" alt="" /></button>
      </div>
      <div class="section_content_desc">
        <p>
          Nest (NestJS) is a framework for building efficient, scalable Node.js
          server-side applications. It uses progressive JavaScript, is built
          with and fully supports TypeScript (yet still enables developers to
          code in pure JavaScript) and combines elements of OOP (Object Oriented
          Programming), FP (Functional Programming), and FRP (Functional
          Reactive Programming).
        </p>
        <p class="section_content_text">
          Under the hood, Nest makes use of robust HTTP Server frameworks like
          Express (the default) and optionally can be configured to use Fastify
          as well!
        </p>
        <p>
          Nest provides a level of abstraction above these common Node.js
          frameworks (Express/Fastify), but also exposes their APIs directly to
          the developer. This gives developers the freedom to use the myriad of
          third-party modules which are available for the underlying platform.
        </p>
      </div>
    </div>
  </div>
  <div id="addPost" class="section_wrapper hide">
    <h2 class="addPost_title">Add Post</h2>
    <form>
      <textarea class="input_text">
  Nest (NestJS) is a framework for building efficient, scalable Node.js server-side applications. It uses progressive JavaScript, is built with and fully supports TypeScript (yet still enables developers to code in pure JavaScript) and combines elements of OOP (Object Oriented Programming), FP (Functional Programming), and FRP (Functional Reactive Programming).
  
  Under the hood, Nest makes use of robust HTTP Server frameworks like Express (the default) and optionally can be configured to use Fastify as well!
  
  Nest provides a level of abstraction above these common Node.js frameworks (Express/Fastify), but also exposes their APIs directly to the developer. This gives developers the freedom to use the myriad of third-party modules which are available for the underlying platform."
    </textarea
      >
      <button type="submit" class="addPost_btn">Submit</button>
    </form>
  </div>
</section>
